.searchArticle_box{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}
.searchArticle_btn {
    padding: 10px 20px; 
    font-size: 1rem; 
    color: white; 
    background-color: #734ddb; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    text-decoration: none; 
  }